.movie-card-image {
    height: 250px;
    object-fit: cover;
}

.movie-card-title {
    padding: 15px;
    width: 100%;
    font-size: 1rem !important;
    position: absolute;
    bottom: 60px;
    left: 0;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(255, 255, 255, 0.648) 100%);
}

.favorite-icon {
    box-sizing: border-box;
    position: absolute;
    width: 30px;
    fill: white;
    background-color: black;
    padding:4px;
    margin: 8px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.2s ease;
}

.favorite-icon:hover {
   transform: scale(1.2);
   box-shadow: rgb(0, 255, 55) 0px 0px 6px;
}

.favorite-icon:active {
    transform: scale(1);
   box-shadow: rgb(0, 255, 55) 0px 0px 9px;
}

.favorite-icon-true {
    fill: #E50914;
}

.favorite-toggle {
    border: none;
    position: absolute;
    background-color: transparent;
}