.genre-tab-list {
    margin-top: 3rem;
    margin-bottom: 2rem;
   

    .selected-genre {
        background-color: #F10086;
    }
    button {
        color: white;
        background-color: #711A75;
        margin-right: 2rem;
        border: none;
        padding: 4px 18px;
        transition: all 0.2s ease;
        &:hover {
            background-color: #7A0BC0;
            transform: scale(1.1);
        }
        &:active {
            transform: scale(1);
        }
    } 
}

.genre-page-heading {
    font-family: 'Lobster', cursive !important;
    margin-bottom: 2rem;
}

.genre-info {
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: #303030;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important; 
}

.back-button {
    margin-top: 2rem;
    border: none !important;
    border-radius: 0 !important;
    background-color: #711A75 !important;
}


@media (max-width: 415px) {
    .genre-tab-list {
        font-size: 0.8rem;
        justify-content: center;

        button {
            margin-right: 1rem;
        }
    }
}