.form-main {
    position: relative;
    height: 600px;
    width: 85%;
    animation: slide 0.2s ease forwards;
}

.form-item {
    height: 100px;
}

.register-error {
    color: #FF6B6B;
}

.form-register {
    background-color: #180A0A;
    padding: 3rem;
}

