.profile-remove-favorite-btn {
    position: relative !important;
    z-index: 100;
    top: -250px;
    background-color: black !important;
    padding: 10px !important;
}

.remove-icon {
    fill: white;
   
    width: 30px;
}