h2, h4, p {
    color: white;
}

.content {
    margin-top: 3rem;
}

.page-title {
    color: blue;
}

.col-lg-12 {   
    background: rgb(39,0,130);
    background: linear-gradient(90deg, rgba(39,0,130,1) 0%, rgba(122,11,192,1) 100%);
    margin-bottom: 2rem;
}