.navbar-custom {
    background-color: #711A75 !important;
    * {
        color: white !important;
    }
    a {
        text-decoration: none;
    }

    li:hover {
        color: blue !important;
    }

    span {
        color: black !important;
    }
   
}

.link-current {

}