.form-main {
    animation: slide 2s ease forwards;
}

.form-item {
    height: 100px;
}

.login-error {
    color: #FF6B6B;
}

.form-main {
    background-color: #180A0A;
    padding: 3rem;
    transition: all 0.2s ease;
}

.login-page-container {
    width: 45%;
    z-index: 100;
}

.loading-login {
    position: absolute;
    right: 240px;
    bottom: 260px;
}