.logo-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100%;
    height: 1000px;
    background-image: url(https://res.cloudinary.com/drghkywbx/image/upload/v1650203631/collage_cizws1.png);
    background-size: contain;
    pointer-events: none;
}

.logo-gradient {
    position: fixed;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 1000px;
    background: rgb(39,0,130);
    background: linear-gradient(180deg, rgba(39,0,130,0) 0%, #4F359B  66%);
    pointer-events: none;
}



.login-page-logo {
    display: inline-block;
    margin: 0 auto;
    margin-top: 50px !important;
    width: 200px !important;
    background-color: #4F359B;
    color: white;
    font-family: 'Lobster', cursive !important;
    text-align: center;
    padding: 18px 90px;
    border-radius: 10px;
}

.login-main {
    color: white;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    button {
        margin-top: 1rem;
    }
    .sign-up {
        display: block;
        margin: 0;
        padding: 0;
    }
}


.login-page-container {
    width: 40%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-spinner-login {
    position: absolute;
    right: 157px;
    bottom: 30px;
}
.loading-spinner-reg {
    position: absolute;
    right: 157px;
    bottom: 10px;
}

@media (max-width: 1024px) {
    .login-page-container {
        width: 100% !important;
        z-index: 100;
        margin: 0 auto;
    }
    .form-main {
        width: 100%;
    }
}



@media (max-width: 757px) {
    .login-slider {
        display: none;
    }
    .login-main{
        display: block;
        margin-top: 3rem !important;
    }
    .form-main {
        width: 100%;
    }
}

@media (max-width: 500px){
    .form-main {
        width: 100% !important;
    }
}