.logo-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100%;
    height: 1000px;
    background-image: url(https://res.cloudinary.com/drghkywbx/image/upload/v1650203631/collage_cizws1.png);
    background-size: contain;
    pointer-events: none;
}

.logo-gradient {
    position: fixed;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 1000px;
    background: rgb(39,0,130);
    background: linear-gradient(180deg, rgba(39,0,130,0) 0%, #180A0A  66%);
    pointer-events: none;
}

.login-page-logo {
    font-family: 'Lobster', cursive !important;
    text-align: center;
    padding-bottom: 2rem;

}

.login-main {
    color: white;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    button {
        margin-top: 1rem;
    }
    .sign-up {
        display: block;
        margin: 0;
        padding: 0;
    }
}


.login-page-container {
    width: 45%;
    z-index: 100;
}

@media (max-width: 757px) {
    .login-page-container {
        width: 100%;
        z-index: 100;
    }
    .login-slider {
        display: none;
    }
    .login-main{
        display: block;
        margin-top: 3rem !important;
    }
}

@media (max-width: 500px){
    .login-page-container {
        width: 80%;
        margin: 0 auto;
    }
}