* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #180A0A !important;
    font-family: 'Nunito', sans-serif;
}

h2, h4, p {
    color: white;
}

input {
    border: none !important;
    border-radius: 0 !important;
}